#restaurant .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "salle recette1 recette2"
        "salle recette3 recette4";
    gap: 20px;
    height: 60vh;
    width: 80%;
    margin: 5vh auto;
}

#restaurant .content #salle {
    grid-area: salle;
    background-image: url("./pics/re.jpg");
}

#restaurant .content #recette1 {
    grid-area: recette1;
    background-image: url("./pics/french-food.jpg");
}

#restaurant .content #recette2 {
    grid-area: recette2;
    background-image: url("./pics/Italian-food.jpg");
}

#restaurant .content #recette3 {
    grid-area: recette3;
    background-image: url("./pics/mexican-food.jpg");
}

#restaurant .content #recette4 {
    grid-area: recette4;
    background-image: url("./pics/deutch-food.jpg");
}

#restaurant .content div h2 {
    position: absolute;
    top: 102%;
    transition: all 0.5s ease-in-out;
    font-size: 4vh;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: var(--primary-color);
    padding: 1vh 0;
    width: 100%;
}

#restaurant .content div p {
    position: absolute;
    transition: all 0.5s ease-in-out;
    bottom: 102%;
    font-size: 1.5vh;
    margin: 2rem;
    color: white;
    text-align: justify;
    background-color: var(--primary-color);
    padding: 1vh;
    border-radius: 15px;
}

#restaurant .content div {
    position: relative;
    overflow: hidden;
}

#restaurant .content div:hover h2 {
    top: 0px;
}

#restaurant .content div:hover p {
    bottom: 0px;
}