#rooms .content {
    margin: 12vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5vh;
}

#room1 {
    grid-column: 2 / 3;
}

#room2 {
    grid-column: 3 / 4;
}

#room3 {
    grid-column: 4 / 5;
}

#rooms img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid var(--primary-color);
}

#rooms .text {
    padding: 0px 1.5vh;
    text-align: center;
}

#rooms .text h3 {
    font-size: 3vh;
    font-weight: 400;
    margin-bottom: 1rem;
}

#rooms .text p {
    font-size: 1.2rem;
    color: grey;
}